<p>Contenu de inclus.html.twig</p>

{% if test is defined %}
    <p>inclus.html.twig a acces a la variable test</p>
{% endif %}

{% if foo is defined %}
    <p>inclus.html.twig a acces a la variable foo</p>
{% endif %}
